<title> Charis Ballet </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
