
.is-fully-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.parallax-main {
  height: 600px;
  top: -60px;
  background-attachment: fixed;
  background-position: center -100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
    font-family: gobold;
    src: url(font/gobold-light.otf);
}