<html xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    {{>layout/head}}
</head>
<body>
{{>layout/header}}
<div class="container bg-light">
    <h1>404 : Page Not Found</h1>
</div>
{{>layout/footer}}
{{>layout/scripts}}
</body>
</html>
